*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
.idea/vcs.xml
app/libs/
app/src/main/res/values-v21/
.idea/
.idea/inspectionProfiles/
