<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="one.codehz.container">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity=".SpaceManagerActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".ServiceSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".WakeLockActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".LoadingActivity"
            android:label="@string/loading"
            android:theme="@style/LoadingScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="launch"
                    android:scheme="container"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".VLoadingActivity"
            android:excludeFromRecents="true"
            android:label="@string/loading"
            android:noHistory="true"
            android:taskAffinity="va.task.loading"
            android:theme="@style/LoadingScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="launch"
                    android:scheme="container"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/application_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="detail"
                    android:scheme="container"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LogActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/log"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="log"
                    android:scheme="container"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SpaceManagerActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/container_space_manager"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ManageContainerApplicationStorageActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/container_application_internal_space_manager"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".UserManagerActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/user_manager"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".UserSelectorActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/select_user"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:icon="@drawable/ic_device_information"
            android:label="@string/privacy_protection_settings"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".InstallerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/advance_virtual_package_installer"
            android:noHistory="true"
            android:screenOrientation="locked"
            android:taskAffinity=":PInstaller"
            android:theme="@style/InstallerTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="file"/>
                <data android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>
        </activity>

        <service
            android:name=".InstallService"
            android:exported="false"
            android:process=":installer"/>

        <service
            android:name=".RunningWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:name=".provider.SystemApplicationProvider"
            android:authorities="one.codehz.container.provider.system-applications"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>

        <provider
            android:name=".provider.MainProvider"
            android:authorities="one.codehz.container.provider.main"
            android:exported="false"/>

        <provider
            android:name=".provider.PreferenceProvider"
            android:authorities="one.codehz.container.provider.preference"
            android:exported="false"/>

        <receiver
            android:name=".provider.RunningWidgetProvier">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/running_widget"/>
        </receiver>
    </application>

</manifest>